NODE_ENV="development"

GMAIL_USER=exmaple@example.com
GMAIL_APP_PASSWORD=password
EMAIL_FROM=exmaple@example.com

AUTH_SECRET=auth_secret
NEXT_PUBLIC_APP_URL=app url
APPLICANT_WEBHOOK_SECRET=random string
DATABASE_URL="url""
DIRECT_URL="url"